@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  a:focus-visible, button:focus-visible {
    @apply !ring-blue-400/80 !rounded-sm !ring-4 !border-none !outline-none !ring-offset-sky-400 !ring-offset-2
  }
}

/* We use HSL here so that we can apply tailwind opacity/80 */
/* https://easyretro.io/tools/hsl-to-hex/ */
@layer base {
  :root {
    --background: 0 0% 100%; /* #000000 */
    --foreground: 224 71.4% 4.1%; /*#030712 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 224 71.4% 4.1%; /* #030712 */
    --popover: 0 0% 100%; /* #000000 */
    --popover-foreground: 224 71.4% 4.1%; /* #030712 */
    --primary: 262.1 83.3% 57.8%; /* #7C3AED */
    --primary-foreground: 210 20% 98%; /* #f9fafb */
    --secondary: 220 14.3% 95.9%; /* #F3F4F6 */
    --secondary-foreground: 220.9 39.3% 11%; /* #111827 */
    --muted: 220 14.3% 95.9%; /* #F3F4F6 */
    --muted-foreground: 220 8.9% 46.1%; /* #6B7280 */
    --accent: 220 14.3% 95.9%; /* #F3F4F6 */
    --accent-foreground: 220.9 39.3% 11%; /* #111827 */
    --success: 142.1 70.6% 45.3%; /* #22c55e */
    --success-foreground: 210 20% 98%; /* #f9fafb */
    --danger: 0 84.2% 60.2%; /* #EF4444 */
    --danger-foreground: 210 20% 98%; /* #f9fafb */
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 210 20% 98%; /* #f9fafb */
    --border: 220 13% 91%; /* #E5E7EB */
    --input: 220 13% 91%; /* #E5E7EB */
    --ring: 262.1 83.3% 57.8%; /* #7C3AED */
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --success: 142.1 70.6% 45.3%; /* #22c55e */
    --success-foreground: 210 20% 98%; /* #f9fafb */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}
 
