@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-primary-text: black;
    --color-secondary-text: white;
    --color-primary-hover: #203040; 
    --color-secondary-hover: #dde5eb; /* bg-gray-300*/
    --color-primary-background: #f9fafb; /* bg-gray-50*/
    --color-secondary-background: #203040;
    --color-primary-link: #2563EB;
    --color-primary-action: #22c55e;
    --color-primary-danger: #DE2600;
}

/* fafafa */

[data-theme="dark"] {
    --color-primary-text: white;
    --color-secondary-text: black;
    --color-secondary-hover: #dde5eb;
    --color-secondary-hover: #203040;
    --color-primary-background: #203040;
    --color-secondary-background: #f9fafb;
}

@layer base {
    h1 {
        @apply
        text-3xl
        font-medium
    }
    h2 {
        @apply
        text-2xl
        font-medium 
    }
    h3 {
        @apply
        text-xl
        font-medium 
    }
    h4 {
        @apply
        text-lg
        font-medium 
    }
    h5 {
        @apply
        font-medium
        pr-2
    }
    h6 {
        @apply
        font-medium
        pr-2
    }
    li{
        @apply
        flex
    }
    /* disable default input type number https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

@layer components{
    .bubble{
        @apply
        transform
        transition-all
        hover:scale-110
        duration-150
        ease-in-out
        select-none
    }

    /* HamburgerItem */
    .hamburgerItem {
        @apply
        inline-flex
        justify-between
        w-full
        !text-left
        cursor-pointer
        p-4
        text-xl
        font-bold
        text-primary-text
        hover:bg-primary-link
        hover:text-secondary-text
        box-border
        border-b
        border-gray-300
    }
    
    /* Tooltip */
    .tooltip {
        position: relative;
        display: inline-block;
    }
        
    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility:hidden;
        opacity:0;
        transition:visibility 0.3s linear,opacity 0.3s linear;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        width: 120px;
        top: 100%;
        left: 50%;
        margin-top: 10px;
        margin-left: -85px; 
        z-index: 50;
    }
        
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        opacity: 1;
        visibility: visible;
    }

    .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        right: 0;
        margin-right: 1.55rem; 
        border-width: 0.7rem;
        border-style: solid;
        border-color: transparent transparent var(--color-secondary-background) transparent;
    }

    .map { 
    }
    
    .map .gmnoprint a,.gmnoprint span,.gm-style-cc { 
        display: none !important;
    }
    
    .map a[href^="http://maps.google.com/maps"], a[href^="https://maps.google.com/maps"] ::before {
        content: "powered by";
        color: #787878;
        font-size: 15px;
        float: right;
        font-family: system-ui;
        margin-right: 69px;
    }

    .map div div div div {
        width: 100% !important; 
    } 

    .map div div div div a{
        display: flex !important;
        
    }

    .map div div div div a div{
        /* background: pink; */
    }
    .map div div div div a img{
        bottom: 0 !important;
        right: 0 !important;
        left: auto !important;
        width: 64px !important;
        margin-right: 5px !important;
    }

    .map div div div div a img ::before{
        content: "Powered by";
        color: red;
        font-size: 25px;
    }

    .map a[title="Report problems with Street View imagery to Google"]{
        display: none !important;
    }
}