@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --color-primary-text: black;
    --color-secondary-text: white;
    --color-primary-hover: #203040; 
    --color-secondary-hover: #dde5eb; /* bg-gray-300*/
    --color-primary-background: #f9fafb; /* bg-gray-50*/
    --color-secondary-background: #203040;
    --color-primary-link: #2563EB;
    --color-primary-action: #22c55e;
}

[data-theme="dark"] {
    --color-primary-text: white;
    --color-secondary-text: black;
    --color-secondary-hover: #dde5eb;
    --color-secondary-hover: #203040;
    --color-primary-background: #203040;
    --color-secondary-background: #f9fafb;
}

@layer base {
    h1 {
        @apply
        text-3xl
        font-bold
    }
    h2 {
        @apply
        text-2xl
        font-bold 
    }
    h3 {
        @apply
        text-xl
        font-bold 
    }
    h4 {
        @apply
        text-lg
        font-bold 
    }
    h5 {
        @apply
        font-bold
        pr-2
    }
    h6 {
        @apply
        font-bold
        pr-2
    }
    li{
        @apply
        flex
    }
    /* disable default input type number https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

@layer components{
    .bubble{
        @apply
        transform
        transition-all
        hover:scale-110
        duration-150
        ease-in-out
        select-none
    }
}